* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-size: 100%;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    padding: 25px 60px 20px 60px;
    width: 100%;
    border-bottom: 3px black solid;
    align-items: center;
}

.header-titulo{
    font-family: "Special Gothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 12px;
}

.header-titulo a{
    transition: 500ms ease all;
    text-decoration: none;
    color: #000000;
}

.header-titulo a:hover{
    color: #ff2c2c;
    transform: scale(0.98);
}

.header-logo{
    padding: 0 10px 0 0;
    transform: rotate(45deg);
    
}

.header-logo img{
    height: 55px;
    width: 55px;
    border: 2px #000000 solid;
    transition: 500ms ease all;
}

.header-logo img:hover{
    border: 2px #ff2c2c solid;
}

.navbar{
    margin-left: auto;
}

.navbar a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: 500ms ease all;
}

.navbar a:hover:not(.conta){
    transform: scale(0.98);
    color: #ff2c2c;
}

.conta{
    border: 2px black solid;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    transition: 500ms ease all;
}

.conta:hover{
    transform: scale(0.98);
    color: #ffffff;
    background-color: #000000;
}

.navbar ul{
    list-style-type: none;
}

.navbar li{
    display: inline;
    padding: 0 20px 0 0;
}

.geral {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.login{
    border: 1px #000000 solid;
    width: 500px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -20px 20px 25px -5px rgba(0, 0, 0, 0.1), 20px 20px 10px -5px rgba(0, 0, 0, 0.1);
}

.titulo-login{
    text-align: center;
}

.cadastro {
    border: 1px #000000 solid;
    width: 500px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -20px 20px 25px -5px rgba(0, 0, 0, 0.1), 20px 20px 10px -5px rgba(0, 0, 0, 0.1);
}

.titulo-cadastro{
    text-align: center;
}

.entradas{
    padding: 20px 15px 20px 15px;
}

.entradas a{
    text-decoration: none;
    color: #ff2c2c;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: 500ms ease all;
}

.entradas a:hover{
    color: #770a0a;
    transform: scale(0.98);
}


.entrada-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.login .entrada-wrap{
    background-color: rgb(245 246 250);
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 0 5px;
    height: 40px;
}

input{
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    background: transparent;
    transition: 500ms ease all;
}

input:focus{
    outline: none;
    /* box-shadow: 0 1px 0 0 #ff2c2c; */
    border-bottom: 1px #ff2c2c solid;
    transform: scale(0.98)
}

.cadastro input{
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #e4f0f6;
    transition: 500ms ease all;
}

.cadastro input[type="date"]{
    color: rgb(245 246 250);
}

.cadastro input:focus{
    outline: none;
    box-shadow: 0 1px 0 0 #ff2c2c;
}

.cadastro input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 16px;
    accent-color: #770a0a;
    transition: 500ms ease;
}

.cadastro input[type="checkbox"]:focus{
    outline: none;
    box-shadow: none;
    border-color: none;

}

.botao-login{
    display: flex;
    justify-content: center;
}

.botao-login button{
    width: 100%;
    justify-content: center;
}

.botao-cadastro{
    text-align: center;
    padding: 0 16px 0 0;
}

button{
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #000000;
    transition: 500ms ease all;
    display: flex;
}

button:hover{
    color: #000000;
    border: inset 2px #000000 solid;
    background-color: #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px 1px #000000;
    -moz-box-shadow:inset 0px 0px 0px 1px #000000;
    box-shadow:inset 0px 0px 0px 1px #000000;
    
}

.possuiLogin{
    font-size: 15.8px;
    display: flex;
    flex-direction: column;
}

.final{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.imagem{
    padding: 0 155px 0 0;
}

.imagem img {
    width: 644px;
    height: 436px;
}

.secao-1{
    padding-top: 24px;
}

.footer-wrap{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    margin: 40px 0 0 0;
    padding: 20px 50px 40px 50px;
}

.footerbar{
    display: flex;
    justify-content: center;
}

.coluna{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.coluna span{
    font-weight: 600;
    font-size: 20px;
}

.coluna ul{
    list-style-type: none;
}

.coluna li{
    padding: 20px 0 0 0;
}

.coluna a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.3px;
    transition: 500ms ease all;
}

.coluna a:hover{
    transform: scale(0.98);
    color: #ff2c2c;
}

.subfooter{
    padding: 40px 0 0 0;
    display: flex;
}

.subfooter-content{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.subfooter-content a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.3px;
    transition: 500ms ease all;
}

.subfooter-content a:hover{
    color: #ff2c2c;
    font-weight: 600;
    transform: scale(0.98);
}

.localizacao{
    padding: 10px 0 0 0;
}

.coat{
    display: flex;
    align-items: center;
}

.coat img{
    width: 102px;
    height: 90px;
}

.colunas{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}